<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>

<p>
  <strong>Level:</strong>
  <%= @team.level %>
</p>

<p>
  <strong>Status:</strong>
  <%= @team.status %>
</p>

<p>
  <strong>Year:</strong>
  <%= @team.year %>
</p>

<p>
  <strong>Value cents:</strong>
  <%= @team.value_cents %>
</p>

<p>
  <strong>Teacher:</strong>
  <%= @team.teacher.name %>
</p>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
