<%- model_class = User -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

 <!-- Left side -->
  <div class="level-left">
    <div class="level-item">
         <p>   
         <class="level-item"><a href="/users/new" class="button is-success">Novo</a> 
         <class="level-item"><a href="/welcome/index?other=clique" class="button is-success">Dashboard</a>   
         </p>
    </div>
  </div>


 <!-- Left side -->
  <div class="level-left">
 <p class="level-item">   
  <%= search_form_for @q do |f| %>  
    

  <%= f.label :email_cont %>
  <%= f.search_field :email_cont %>      
      
  <%= f.select :combinator, [['E','and'],['OU','or']] %>

  <%= f.label :kind_eq %>
  <%= f.select :kind_eq, User.kinds.to_a.map { |w| [w[0].humanize, w[1]] },{:include_blank=> "Selecione o tipo"} %> 
    
     <%= f.label :role_eq %>
     <%= f.select :role_eq, User.roles.to_a.map { |w| [w[0].humanize, w[1]] },{:include_blank=> "Selecione o Acesso"} %>    

  <%= f.submit %>
  
<% end %>         
 </p>         
      
</div>


        Listagem de publishers da plataforma.
         <% if User.count==1 %> 
          <class="text-muted m-b-30"><%=User.count%> registro
         <% else %> 
          <class="text-muted m-b-30"><%=User.count%> registros
         <% end %> 


<table class="table table-striped">
  <thead>
    <tr>
      <th><%= sort_link(@q, :email) %></th>
      <th><%= sort_link(@q, :status) %></th>
      <th><%= sort_link(@q, :kind) %></th>
      <th><%= sort_link(@q, :role) %></th>
      <th><%= sort_link(@q, :last_sign_in_at) %></th>   
      <th><%= sort_link(@q, :sign_in_count) %></th> 
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.email, user_path(user), :class => '' %> </td>
        <td><%= user.status %></td>
        <td><%= user.kind %></td>
        <td><%= user.role %></td>
        <% if user.last_sign_in_at!=nil%>
         <td><%=(user.last_sign_in_at).strftime("%d-%m-%Y %H:%M:%S") %></td>
        <% else %>
         <td> Não logou </td>
        <% end %>
        <td><%= user.sign_in_count %></td> 
      </tr>
    <% end %>
  </tbody>
</table>

 <%= will_paginate @users %>   