


<h1>Welcome</h1>

<%= link_to 'Students', students_path %>
</br>
<%= link_to 'Responsibles', responsibles_path %>
</br>
<%= link_to 'Teams', teams_path %>
</br>
<%= link_to 'Teachers', teachers_path %>
</br>
<%= link_to 'Users', users_path %>
