<%= javascript_include_tag 'loads' %>
<%= yield :head %>
  <%= render :partial => "loads/topform" %>
<%= form_for @load, :html => { :class => "form-horizontal form-bordered", 'data-toggle' => "validator" } do |f| %>
<div class="container is-widescreen">
  <div class="notification">
<label class="label">DADOS GERAIS</label>    

</br>


  <label class="label"><%=f.label :dateload %></label>
  <div class="form-control">
   <%= f.date_select :dateload, :class => 'input' %>
    </div>
    </br>  


    
    
  <label class="label"><%=f.label :daypay %></label>
  <div class="form-control">
   <%= f.number_field :daypay, :class => 'input' %>
    </div>
    </br>  
    
  <label class="label"><%=f.label :quantparcel %></label>
  <div class="form-control">
   <%= f.number_field :quantparcel, :class => 'input' %>
    </div>
    </br>      

  <label class="label"><%= f.label :psend %></label>
  <div class="form-group">
   <%= f.select(:psend, Load.psends.keys.map {|psend| [psend.titleize,psend]},{include_blank: false}, :class => 'form-control' )%>
  </div>
  </br>    
  

  <label class="label"><%=f.label :name%></label>
  <div class="form-control">
    <div class="select">
     <%= f.collection_select(:hold_id, @holds.order(:name), :id, :name, {include_blank: false}, { :class => 'form-control' })%>
    </div>
    </br>
  </div> 

  

  </div>   
  
  <div class="field is-grouped">
  <p class="control">
    <%= f.submit nil, :class => 'button is-primary' %>    
  </p>
  <p class="control">
    <a href="/loads" class="button is-info">
      Cancel
    </a>
  </p>
</div>
<% end %>
