
<%= yield :head %>
  
<%= form_for @responsible, :html => { :class => "form-horizontal form-bordered", 'data-toggle' => "validator" } do |f| %>
<div class="container is-widescreen">
  <div class="notification">
<label class="label">DADOS GERAIS</label>    

</br>


  <label class="label"><%= f.label :name %></label>
  <div class ='form-control'>
   <%= f.text_field :name, :class => 'input' ,'required' => 'true','data-minlength'=>'3', 
   'data-error' => "Ops. Nome inválido ou muito pequeno. " %>
  </div>
  </br> 
  <label class="label"><%= f.label :email %></label>
  <div class ='form-control'>
   <%= f.text_field :email, :class => 'input' ,'required' => 'true','data-minlength'=>'3', 
   'data-error' => "Ops. Email inválido ou muito pequeno. " %>
  </div>
  </br>    
  <label class="label"><%=f.label :status%></label>
  <div class="form-control">
     <%= f.select(:status, Responsible.statuses.keys.map {|status| [status.titleize,status]},{include_blank: false}, :class => 'form-control' )%>
    </br>
  </div> 
 </br> 
  
  <label class="label"><%= f.label :tel %></label>
  <div class ='form-control'>
   <%= f.text_field :tel, :class => 'form-control' %>
  </div>
  </br>   
  
  <label class="label"><%= f.label :cel %></label>
  <div class ='form-control'>
   <%= f.text_field :cel, :class => 'form-control' %>
  </div>
  </br>    
<div class="field is-grouped">
  <p class="control">
    <%= f.submit nil, :class => 'button is-primary' %>    
  </p>
  <p class="control">
    <a href="/responsibles" class="button is-info">
      Cancel
    </a>
  </p>
</div>
  
  
  
  
  
  
  </div>
</div>
<% end %>


