<%= form_with(model: responsible, local: true) do |form| %>
  <% if responsible.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(responsible.errors.count, "error") %> prohibited this responsible from being saved:</h2>

      <ul>
      <% responsible.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :cod %>
    <%= form.text_field :cod %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.select(:status, Responsible.statuses.keys.map {|status| [status.titleize,status]},{include_blank: false}, :class => 'form-control' )%>
  </div>

  <div class="field">
    <%= form.label :tel %>
    <%= form.text_field :tel %>
  </div>

  <div class="field">
    <%= form.label :cel %>
    <%= form.text_field :cel %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
